graph {
  fill-color: white;
}

node {
  size: 15px, 15px;
  shape: box;
  fill-color: green;
}

node.defector {
  fill-color: orange;
}

node.cooperator {
  fill-color: blue;
}
node.dead{
  visibility-mode: hidden;
}

edge {
  size: 3px;
}

edge.alive {
  fill-color: black;
}

edge.dead {
  visibility-mode: hidden;
}
